<html>
  <head>
    <link rel="stylesheet" type="text/css" href="libs/styles.css">
    <link rel="stylesheet" type="text/css" href="site/styles.css">
    <script src="./libs/header.js"></script>
    <script src="./site/header.js"></script>
    <title>Hello World</title>
  </head>
  <body>
